@page "/"
@using System.ComponentModel.DataAnnotations
@rendermode InteractiveServer

<PageTitle>Anime Cards</PageTitle>
<div class="main-Title">
    Memory match
</div>
<div class="game-description">
    You have 10 attempts to match all the cards.
</div>
<div class="progress-bar-section">
    <div class="progress-top-line">
        <div class="progress-left">
            Attempts
        </div>
        <div class="progress-right">
            @(NumberOfFailedAttempts / 10)/10
        </div>
    </div>
    <div class="progress-bar" style="--width: @NumberOfFailedAttempts">
    </div>
</div>
@*     <TimerComponent /> *@
@if (!GameHasStarted)
{
    <EditForm Model="@highscoreDto" OnValidSubmit="@HandleValidSubmit" FormName="Start">
        <div class="StartDetails">
            <DataAnnotationsValidator />
            <div class="input-container">
                <span class="label">Name:</span>
                <input type="text" @bind="@highscoreDto.PlayerName" />
            </div>
            <ValidationMessage For="@(() => highscoreDto.PlayerName)" Class="custom-validation" />
            <button type="submit" class="start-button">Start</button>
        </div>
    </EditForm>

}
else
{
    @if (NumberOfFailedAttempts == 100)
    {
        <p class="Message">Wow you actually lost...</p>
        <HighScoreTableComponent />
    }
    else
    {
        <CardGridComponent highScoreDto="@highscoreDto" @bind-NumberOfFailedAttempts="NumberOfFailedAttempts" />
    }
}


@code {
    private int NumberOfFailedAttempts = 0;
    bool GameHasStarted;
    private HighScoreDTO highscoreDto = new();
    private void HandleValidSubmit()
    {
        GameHasStarted = true;
    }
}

